#header #section_67024073 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_67024073 .section-bg.bg-loaded {
  background-image: url(./img/beatriz-perez-moya-XN4T2PVUUgk-unsplash.jpg);
}

#section_67024073 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_67024073 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1906044507 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#section_1906044507 .section-bg.bg-loaded {
  background-image: url(./img/Marketing\ Team\ Org\ Chart.png);
}

#section_1906044507 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_1906044507 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1906044507 .wpcf7-form h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

#section_305726745 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_305726745 .section-bg.bg-loaded {
  background-image: url(./img/bg-chuong-trinh.jpg);
}

#section_305726745 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_305726745 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_305726745 #col-1694188615 .item-chuong-trinh-100 {
  flex-basis: 100%;
  max-width: 100%;
}

#section_1706136647 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(233, 233, 233);
}

#section_1706136647 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_1706136647 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1706136647 #col-951350609 p {
  font-size: 20px;
}

#section_1706136647 .border-img img {
  height: 150px;
  width: 100%px;
  margin: 0 auto;
}

#section_1706136647 .border-img {
  height: 100%;
  width: 200px;
  margin: 0 auto;
}

#image_1341635152 {
  width: 100%;
}

#section_148431114 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_148431114 .section-bg.bg-loaded {
  background-image: url(./img/bg-thong-tin.png);
}

#section_148431114 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_148431114 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_148431114 .xet-tuyen {
  width: 100%;
  height: 100%;
  display: flex;
}

#section_148431114 .xet-tuyen p {
  color: #000000;
  margin-bottom: 0;
  line-height: 45px;
}

#section_148431114 .xet-tuyen strong {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

#section_148431114 .xet-tuyen p span {
}

#section_148431114 #col-1448256096 {
  display: flex;
  justify-content: space-around;
}

#section_148431114 .ma-xet-tuyen {
  flex-basis: 25%;
  padding-bottom: 0;
}

@media screen and (max-width: 549px) {
  #section_148431114 .ma-xet-tuyen {
    flex-basis: 50%;
  }

  #section_148431114 .xet-tuyen strong {
    font-size: 18px;
  }

  #section_148431114 .xet-tuyen p span {
    font-size: 16px;
  }
}

#image_514141410 {
  width: 100%;
}

#section_451641264 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_451641264 .section-bg.bg-loaded {
  background-image: url(./img/bg-thong-tin.png);
}

#section_451641264 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_451641264 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#image_495755339 {
  width: 100%;
}

#image_1079930759 {
  width: 100%;
}

#image_126289763 {
  width: 100%;
}

#image_883510243 {
  width: 100%;
}

#section_830827248 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_830827248 .section-bg.bg-loaded {
  background-image: url(./img/bg-hoc-bong.jpg);
}

#section_830827248 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#col-529404383,
#col-529404384 {
  margin-top: 50px;
}

#section_830827248 .hoc-phan {
  font-weight: 700;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
#section_830827248 .hoc-phan p {
  color: #f3763a;
  margin-bottom: 0;
  height: 100%;
}

#section_830827248 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1502599722 {
  padding-top: 40px;
  padding-bottom: 40px;
}

#section_1502599722 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_1502599722 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1502599722 .section-bg.bg-loaded {
  background-image: url(./img/Untitled-design.png);
}

#section_1502599722 .section-title,
#section_1502599722 .box-text {
}

#section_1502599722 .box-text p {
  font-size: 20px;
}

#image_406122879 {
  width: 100%;
}

#section_1896457242 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section_1896457242 .section-bg.bg-loaded {
  background-image: url(https://supham.web3ngay.net/wp-content/uploads/2021/02/bg-footer.jpg);
}

#section_1896457242 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_1896457242 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1502599709 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#section_1502599709 .section-bg.bg-loaded {
  background-image: url(./img/beatriz-perez-moya-XN4T2PVUUgk-unsplash.jpg);
}

@media screen and (max-width: 549px) {
  #section_1502599709 .section-bg.bg-loaded {
    background-image: url(./img/bg-book.png);
  }
}

#section_1502599709 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

#section_1502599709 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#section_1502599709 .section-title,
#section_1502599709 .box-text {
}

#section_1502599709 .box-text p {
  font-size: 20px;
}

#section_830827248 .hoc-phan p {
  font-size: 16px;
}

#send_mail_form_footer button:hover {
  color: #000000;
}

.newsletter-form button:hover {
  color: #ffffff;
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.animate-on-scroll.visible {
  opacity: 10;
}
