:root {
    --primaryColor: #5e2ced;
    --secondaryColor: #95b835;
    --whiteColor: #fff;
    --blackColor: #222;
    --softGreenColor: #d9f2ee;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.margin-left_15 {
    margin-left: 15%;
}

.sidebar {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: #F6F5F2;
    color: var(--whiteColor);
    z-index: 100;
}

.sidebar-menus {
    display: flex;
    flex-direction: column;
}

.sidebar-menus a {
    padding: 5% 8%;
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: flexs-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--blackColor);
}

.sidebar-menus a:hover {
    background-color: var(--darkGreyColor);
    color: var(--blackColor);
    border-radius: 5px;
}

.submenu {
    display: none;

}


.sidebar-menus .submenu a {
    font-size: 12px;
    height: 50px;
    padding: 20px 10px;
    line-height: 1rem;
}

.toggle-menu ul {
    list-style: none;
}

.toggle-menu:hover .submenu {
    display: block;
}